.tag{
    text-align: center;
    vertical-align: auto;
}

.imgslider{
    margin-left: auto!important;
    margin-right: auto!important;
    align-items: center;
    width:500px;
}

.centerContent{
    background-color: #333;
}

.mainWelcome{
    text-align: center;
    background-color: #333;
    color: rgba(255, 255, 255, 0.75);
    background-attachment: fixed,							fixed;
    background-image: url("images/overlay1.png"), url("../../Images/images/header.jpg");
}

.footerContent{
    text-align:right;
    padding-right: 25px;
    background-image: url("images/overlay1.png"), url("../../Images/images/header.jpg");
}
